.chat-page {
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

.chat-history {
    width: 100%;
    height: 85%;
    background-color: blueviolet;
}

.chat-form {
    width: 100%;
    height: 10%;
    font-size: 2rem;
    margin-top: 10px;
}

.chat-form input {
    width: 80%;
    height: 80%;
}
.chat-form button {
    width: 10%;
    height: 80%
}